.u-center-text{text-align: center;}
.u-bottom-margin-8{margin-bottom: 8rem;}
.u-margin-bottom-2{margin-bottom: 2rem;}
.u-margin-top{margin-top: 8rem;}
.u-margin-big{margin-bottom: 16rem;}
.u-left-text{text-align: left;}
